@use "src/styles/mixins" as *;

:global {
	// Outer section
	#themes-section {
		border-radius: 0 0 var(--overlay-corner-radius) var(--overlay-corner-radius);
		background-color: var(--card-background-secondary);
		overflow: hidden;

		// Inner section
		.page-section-inner {
			@include flex($align: center);
			min-height: 600px; // I want to avoid cutting off the component showcase
		}

		// Fancy-pants dotted background
		// I want dynamic coloring so we'll have to mask it
		&::before {
			content: "";
			position: absolute;
			top: -50%;
			left: -50%;
			width: 200vw;
			height: 200vw;
			background-image: linear-gradient(
							90deg,
							transparent 10%,
							var(--dots-color, var(--control-stroke-secondary)) 100%
			);
			transform: rotate(30deg);
			mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ccircle cx='50' cy='50' r='10' fill='%23000' /%3E%3C/svg%3E") center/18px;
		}

		// HACK: --background-base is a fairly generic variable that makes more sense to style on themes other than default.
		&:not(.theme-1) {
			background-color: var(--background-base);
			--dots-color: var(--subtle-color-tertiary);

			// Use default accent color instead of dark-1 (see reasoning below)
			::selection {
				background-color: var(--accent-color-default);
			}
		}

		// Themes
		// CSS variable voodoo ahead.
		//
		// CSS variables behave rather strange.
		// Setting a scoped variable that changes the value
		// in another parent variable's hsla() function
		// doesn't actually update the actual parent color.
		//
		// This means that we are basically forced to hardcode
		// hex colors for our accent color, since we use hsla
		// calcs. That really sucks. /rant
		&.theme- {
			&2 {
				--focus-stroke-outer: #fff;
				--accent-color-default: #3ecc9c;
				--accent-color-secondary: #70ccad;
				--accent-color-tertiary: #339b78;
				--accent-text-default: var(--accent-color-default);
				--accent-text-tertiary: var(--accent-color-secondary);
				--text-color-primary: var(--accent-color-default);
				--text-color-tertiary: #a6aebf;
				--text-color-secondary: #a6aebf;
				--subtle-color-secondary: #363c4a;
				--subtle-color-tertiary: #2f3541;
				--background-base: #2b303a;
				--background-quarternary: var(--subtle-color-secondary);
				--dots-color: #404859;
			}

			&3 {
				--focus-stroke-outer: #fff;
				--accent-color-default: #6441a4;
				--accent-color-secondary: #7d5bbf;
				--accent-color-tertiary: var(--accent-color-secondary);
				--accent-text-default: var(--text-color-tertiary);
				--accent-text-tertiary: var(--accent-color-secondary);
				--accent-text-contrast-primary: #fff;
				--accent-text-contrast-secondary: rgba(255, 255, 255, 0.6);
				--text-color-primary: #fff;
				--text-color-secondary: #b19dd8;
				--text-color-tertiary: var(--text-color-secondary);
				--subtle-color-secondary: #2c2642;
				--subtle-color-tertiary: #211d2f;
				--background-base: #17141f;
				--background-quarternary: var(--subtle-color-tertiary);
				--dots-color: #2c2642;
			}

			&4 {
				--focus-stroke-outer: #000;
				--accent-color-default: #fff;
				--accent-color-secondary: rgba(255, 255, 255, 0.8);
				--accent-color-tertiary: rgba(255, 255, 255, 0.6);
				--accent-text-default: var(--text-color-tertiary);
				--accent-text-tertiary: var(--accent-text-default);
				--accent-text-contrast-primary: #000;
				--accent-text-contrast-secondary: var(
								--accent-text-contrast-primary
				);
				--text-color-primary: #000;
				--text-color-tertiary: #332500;
				--text-color-secondary: var(--text-color-primary);
				--subtle-color-secondary: #fff;
				--subtle-color-tertiary: rgba(0, 0, 0, 0.1);
				--background-base: #feb400;
				--background-quarternary: #ffda80;
				--dots-color: rgba(0, 0, 0, 0.2);

				.hyperlink-button {
					--subtle-color-secondary: rgba(0, 0, 0, 0.05);
				}
			}

			&5 {
				--focus-stroke-outer: #fff;
				--accent-color-default: #eee8d5;
				--accent-color-secondary: #fdf6e3;
				--accent-color-tertiary: #e8e1c9;
				--accent-text-default: var(--text-color-tertiary);
				--accent-text-tertiary: var(--accent-color-secondary);
				--accent-text-contrast-primary: #586e75;
				--accent-text-contrast-secondary: #657b83;
				--text-color-primary: #fdf6e3;
				--text-color-tertiary: #93a1a1;
				--text-color-secondary: #839496;
				--subtle-color-secondary: #073642;
				--subtle-color-tertiary: #083945;
				--background-base: #002b36;
				--background-quarternary: var(--accent-color-secondary);
				--dots-color: var(--accent-text-contrast-primary);
			}

			&6 {
				--focus-stroke-outer: #000;
				--accent-color-default: #88c0d0;
				--accent-color-secondary: #79b8ca;
				--accent-color-tertiary: #6bb1c4;
				--accent-text-default: var(--text-color-tertiary);
				--accent-text-tertiary: var(--text-color-secondary);
				--accent-text-contrast-primary: var(--text-color-primary);
				--accent-text-contrast-secondary: var(--text-color-tertiary);
				--text-color-primary: #2e3440;
				--text-color-tertiary: #4c566a;
				--text-color-secondary: var(--text-color-primary);
				--subtle-color-secondary: var(--accent-color-default);
				--subtle-color-tertiary: #bec8da;
				--background-base: #d8dee9;
				--background-quarternary: #3b4252;
				--dots-color: var(--text-color-tertiary);

				.hyperlink-button {
					--subtle-color-secondary: #ced6e3;
				}
			}
		}
	}
}

.scroll-anchor {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	width: 0;
	height: 100%;
	pointer-events: none;
}

// Component showcase
// Seen on the right side of the section
.component-showcase {
	@include flex($gap: 16px);
	position: absolute;
	top: -100px;
	right: -100px;
	transform: rotate(30deg);
	@media only screen and (max-width: 1224px) {
		top: -100px;
		right: -156px;
	}
	@media only screen and (max-width: 920px) {
		display: none;
	}

	// Main columns
	.column {
		@include flex($direction: column, $gap: 16px);

		// Inner row containers
		> div {
			@include flex($gap: 16px);
		}

		&.left {
			align-items: flex-end;
		}

		@media only screen and (max-width: 1224px) {
			.drive,
			.properties {
				display: none;
			}
			.card {
				order: -1;
			}
		}
	}

	// Items
	img,
	.card {
		border-radius: var(--overlay-corner-radius);
		box-shadow: var(--flyout-elevation);
		transform: scale(0.9);
		opacity: 0;
	}

	// Placeholder cards
	.card {
		width: 100%;
		background-color: var(--background-quarternary);
	}

	// Scale animations
	@keyframes showcase-item {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}

	// Visible state
	// For animating components on scroll
	&.visible {
		--initial-delay: 300ms;

		img,
		.card {
			animation: showcase-item 250ms cubic-bezier(0, 0, 0, 1) forwards var(--initial-delay);
		}

		.layout {
			animation-delay: calc(var(--initial-delay) + 200ms);
		}

		.card:last-child {
			animation-delay: calc(var(--initial-delay) + 275ms);
		}

		.card:first-child {
			animation-delay: calc(var(--initial-delay) + 350ms);
		}

		.properties {
			animation-delay: calc(var(--initial-delay) + 425ms);
		}

		.tabs {
			animation-delay: calc(var(--initial-delay) + 500ms);
		}

		.drive {
			animation-delay: calc(var(--initial-delay) + 575ms);
		}
	}

	// We don't want the 500ms delay we normally get when replaying them.
	// &.no-initial-delay {
	// 	--initial-delay: 0ms;
	// }
}

// Main themes section content
// Encompasses the left side of the section
.themes-section-content {
	width: 52%;
	min-width: 478px;

	// Small device support
	// Since our component showcase will be hidden at this size, fill 100% of the available width.
	@media only screen and (max-width: 832px) {
		width: 100%;
		min-width: unset;
	}
}

// Theme picker
// Container for <ColorSwatch /> components
.theme-chooser {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 12px;
	width: fit-content;
	margin-bottom: 24px;
}