@use "src/styles/mixins" as *;

.scroll-anchor {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	visibility: hidden;
	inline-size: 0;
	block-size: 100%;
	pointer-events: none;
}

// Component showcase
// Seen on the right side of the section
.component-showcase {
	@include flex($gap: 16px);
	position: absolute;
	inset-block-start: -100px;
	inset-inline-end: -100px;
	transform: rotate(30deg);

	@media screen and (width < 1224px) {
		inset-block-start: -100px;
		inset-inline-end: -156px;
	}

	@media screen and (width < 920px) {
		display: none;
	}

	// Main columns
	.column {
		@include flex($direction: column, $gap: 16px);

		// Inner row containers
		> div {
			@include flex($gap: 16px);
		}

		&.left {
			align-items: flex-end;
		}

		@media screen and (width < 1224px) {
			.drive,
			.properties {
				display: none;
			}

			.card {
				order: -1;
			}
		}
	}

	// Items
	img,
	.card {
		border-radius: var(--fds-overlay-corner-radius);
		box-shadow: var(--fds-flyout-shadow);
		transform: scale(0.9);
		opacity: 0;
	}

	// Placeholder cards
	.card {
		inline-size: 100%;
		background-color: var(--fds-solid-background-quarternary);
	}

	// Scale animations
	@keyframes showcase-item {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		100% {
			transform: scale(1);
			opacity: 1;
		}
	}

	// Visible state
	// For animating components on scroll
	&.visible {
		--initial-delay: 300ms;

		img,
		.card {
			animation: showcase-item var(--fds-control-normal-duration)
				var(--fds-control-fast-out-slow-in-easing) forwards var(--initial-delay);
		}

		.layout {
			animation-delay: calc(var(--initial-delay) + 200ms);
		}

		.card:last-child {
			animation-delay: calc(var(--initial-delay) + 275ms);
		}

		.card:first-child {
			animation-delay: calc(var(--initial-delay) + 350ms);
		}

		.properties {
			animation-delay: calc(var(--initial-delay) + 425ms);
		}

		.tabs {
			animation-delay: calc(var(--initial-delay) + 500ms);
		}

		.drive {
			animation-delay: calc(var(--initial-delay) + 575ms);
		}
	}

	// We don't want the 500ms delay we normally get when replaying them.
	// &.no-initial-delay {
	// 	--initial-delay: 0ms;
	// }
}

// Main themes section content
// Encompasses the left side of the section
.themes-section-content {
	display: flex;
	flex-direction: column;
	align-items: start;
	inline-size: 52%;
	min-inline-size: 478px;

	p {
		color: var(--fds-text-tertiary);
	}

	:global(h2) {
		color: var(--fds-text-primary);
		font-size: 5rem;
	}

	// Small device support
	// Since our component showcase will be hidden at this size, fill 100% of the available width.
	@media screen and (width < 832px) {
		inline-size: 100%;
		min-inline-size: unset;
	}
}

// Theme picker
// Container for <ColorSwatch /> components
.theme-chooser {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 12px;
	inline-size: fit-content;
	margin-block-end: 24px;
}
