version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday" # i have time to review everything on this day
    commit-message:
      prefix: "Dependabot: "
      include: "scope"
    pull-request-branch-name:
      separator: "/"
    reviewers:
      - "theonlytails"
