@use "src/styles/mixins" as *;

// Outer section
:global {
	#features-section {
		background-color: var(--background-base);

		// Inner section
		.page-section-inner {
			@include flex($gap: 48px);
		}
	}

	// Features section container
	.features-section- {
		&right, &left {
			flex: 0 0 auto;
			width: 50%;
		}

		// Left container
		&left {
			@include flex($align: center, $justify: center);
			position: relative;
			width: 50%;
		}
	}
}

// <FeatureCard /> container
// Container element for selecting features to preview
.feature-cards-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 8px;

	// Small device support
	@media only screen and (max-width: 1164px) {

		// Stack cards vertically
		grid-template-columns: auto;
	}
}

// Features section small device support
@media only screen and (max-width: 924px) {
	.features-section- {
		// Hide showcases on mobile
		&left {
			display: none;
		}

		// Right portion of the section now takes up fullwidth
		&right {
			width: 100%;
			margin: 0;
		}
	}

	// HACK: Remove selected card styling on mobile
	// Figured this was both easier and faster than dealing with bind:innerWidth
	.feature-cards-container :global(.feature-card.selected) {
		border-color: transparent;
	}
}