@use "src/styles/mixins" as *;

// Center our buttons
:global(#community-section .buttons-spacer) {
	justify-content: center;
}

.community-section- {
	// Since we need to always contrast against a
	// light-ish background, we'll need to hardcode
	// some variables.
	&text {
		text-align: center;
		--background-base: hsl(0, 0%, 95%);
		--text-color-primary: hsl(0, 0%, 13%);
		--text-color-secondary: hsl(0, 0%, 16%);
		--text-color-tertiary: var(--text-color-secondary);
		--subtle-color-secondary: hsl(0, 0%, 0%, 0.095);
		--subtle-color-tertiary: hsl(0, 0%, 0%, 0.024);
		--subtle-color-disabled: transparent;
		--accent-text-default: var(--accent-color-dark-3);
		--accent-text-tertiary: var(--accent-color-dark-2);

		// Align descriptions to center
		p {
			margin-inline: auto;
		}
	}

	// Inner card element
	// Encompasses the content of the community section
	&card {
		@include flex($direction: column, $justify: center, $align: center);
		position: relative;
		z-index: 0;
		width: 100%;
		max-width: 2048px;
		min-height: 600px;
		padding: 72px 48px;
		border-radius: var(--overlay-corner-radius);
		background-color: #f9f9f9;
		box-shadow: 0 2.74416px 2.74416px hsl(0, 0%, 0%, 3%),
		0 5.48831px 5.48831px hsl(0, 0%, 0%, 4%),
		0 13.7208px 10.9766px hsl(0, 0%, 0%, 5%),
		0 20.5812px 20.5812px hsl(0, 0%, 0%, 6%),
		0 41.1623px 41.1623px hsl(0, 0%, 0%, 7%),
		0 96.0454px 89.1851px hsl(0, 0%, 0%, 9%);

		canvas {
			position: absolute;
			inset-block-start: 0;
			inset-inline-start: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			border-radius: var(--overlay-corner-radius);
			--gradient-color-1: #a28af1;
			--gradient-color-2: #bf98f7;
			--gradient-color-3: #ccbad4;
			--gradient-color-4: #8692eb;
		}
	}
}

// Contributors
// Left scroller animation
@keyframes contributors-left {
	to {
		transform: translateX(50%);
	}
}

// Right scroller animation
@keyframes contributors-right {
	to {
		transform: translateX(-50%);
	}
}

// Contributor cards
.contributors- {
	// Contributors container
	// Serves no other purpose other than spacing it from the main text.
	&container {
		position: relative;
		width: 100vw;
		max-width: 2800px;

		// Preserve box-shadows when overflow is hidden
		margin-block-end: -128px;
		padding: 64px 0 128px 0;
		overflow: hidden;

		// Fade gutters
		// Seamlessly fades incoming/outgoing cards into the section at large resolutions.
		&::before,
		&::after {
			position: absolute;
			z-index: 1;
			width: 96px;
			height: 100%;
			@media only screen and (min-width: 2800px) {
				content: "";
			}
		}

		&::before {
			inset-inline-start: 0;
			background-image: linear-gradient(
							90deg,
							var(--background-secondary),
							transparent
			);
		}

		&::after {
			inset-inline-end: 0;
			background: linear-gradient(
							90deg,
							transparent,
							var(--background-secondary)
			);
		}
	}

	// Contributor rows
	&row {
		position: relative;
		margin-block-end: 12px;
		white-space: nowrap;

		// Space out contributor cards
		:global(.contributor) {
			margin-inline-end: 12px;
		}

		// Add some variation between rows
		&:nth-child(even) {
			inset-inline-start: 24px;
			float: left;
			animation: contributors-right 80s linear infinite alternate;
		}

		&:nth-child(odd) {
			inset-inline-start: -24px;
			float: right;
			animation: contributors-left 80s linear infinite alternate;
		}

		// Prevent extra bottom margins
		&:last-child {
			margin: 0;
			animation-delay: 2s;
		}
	}
}

// Community section small device support
@media only screen and (max-width: 768px) {
	// We have less space to work with here,
	// so we'll decrease the padding of the card.
	.community-section-card {
		padding: 24px;

		// The header also starts to look bad when it
		// wraps too much, so decrease the font-size
		h2 {
			font-size: 3.2rem;
		}
	}
}