:global {
	#blog {
		position: relative;

		.page-section-inner {
			position: static;
			max-inline-size: 1200px;
		}
	}
}

.blog-backdrop {
	position: absolute;
	inset-block-start: -64px;
	inset-inline-start: 0;
	z-index: -1;
	inline-size: 100%;
	opacity: 0.25;
	mask: linear-gradient(black, transparent 80%);

	img {
		inline-size: 100%;
		block-size: 664px;
		object-fit: cover;
	}
}

.main-post {
	position: relative;
	display: grid;
	grid-template-columns: 60% 40%;
	grid-gap: 48px;
	align-items: center;
	inline-size: 100%;
	margin-block-end: 72px;
	padding-block-end: 72px;
	border-block-end: 1px solid var(--fds-divider-stroke-default);

	@media screen and (width < 1024px) {
		grid-template-columns: auto;
	}

	img {
		max-inline-size: 100%;
		block-size: auto;
		border: 1px solid var(--fds-surface-stroke-default);
		border-radius: var(--fds-overlay-corner-radius);
		box-shadow: 0 2.74416px 2.74416px hsl(0, 0%, 0%, 3%),
		0 5.48831px 5.48831px hsl(0, 0%, 0%, 4%),
		0 13.7208px 10.9766px hsl(0, 0%, 0%, 5%),
		0 20.5812px 20.5812px hsl(0, 0%, 0%, 6%),
		0 41.1623px 41.1623px hsl(0, 0%, 0%, 7%),
		0 96.0454px 89.1851px hsl(0, 0%, 0%, 9%);
		transition: 200ms ease !important;
		-webkit-user-drag: none;
		aspect-ratio: 3 / 2;
		object-fit: cover;
	}

	h2 {
		@media screen and (width < 1280px) {
			font-size: 3.6rem;
		}
	}

	:global(.button) { cursor: pointer; }
}

.blog-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 24px;
	margin-block-start: 24px;
}