@use "../mixins" as *;

.page {
    padding: 48px;
    flex: 1 1 auto;
    background-clip: padding-box;
    background-color: var(--layer-color-default);
    border-top-left-radius: var(--overlay-corner-radius);
    border: {
        top: 1px solid var(--card-stroke-default);
        left: 1px solid var(--card-stroke-default);
    }
}

.docs {
    max-height: calc(100vh - 58px);
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    background-color: var(--background-base);
    @media only screen and (max-width: 648px) {
        max-height: calc(100vh - 64px);
    }
    canvas {
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

.sidebar {
    @include flex($direction: column);
    flex: 0 0 auto;
    width: 316px;
}

.search {
    position: sticky;
    z-index: 1;
    top: 0;
    margin: 4px 16px 12px 16px;
    background-color: var(--background-base);
    hr {
        border: none;
        border-top: 1px solid var(--divider-color-default);
        margin: 0;
        margin-top: 12px;
    }
}

.autosuggest-flyout {
    position: absolute;
    max-height: 350px;
    z-index: 10;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2px 0;
    border: 1px solid var(--surface-stroke-flyout);
    background-color: var(--background-quarternary);
    border-radius: 0 0 var(--overlay-corner-radius) var(--overlay-corner-radius);
    box-shadow: var(--flyout-elevation);
}

.divider {
    width: 100%;
    border-top: 1px solid var(--divider-color-default);
    margin: 12px 0;
}