@use "src/styles/mixins" as *;

:global {
    #hero-section {
        @include flex($direction: row);
        gap: 4rem;
        overflow: hidden;
        height: 75vh;
        min-height: 584px;
        max-height: 1024px;
        border-bottom: 1px solid var(--divider-color-default);
        .button {
            padding: 7px 12px;
            svg {
                @include icon($size: 18px);
            }
        }
        .split-button .button:last-child {
            padding: 0 8px;
            svg {
                @include icon($size: 12px);
            }
        }

        canvas {
            z-index: -1;
            opacity: 0.5;
            mask: radial-gradient(at bottom right, var(--background-base), transparent 70%);
            width: 100vh;
            height: 100vh;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .button svg {
            @include icon($size: 18px);
        }
    }
    .style-standard .hero-button-inner {
        color: var(--text-color-secondary);
        h5 {
            color: var(--text-color-primary);
        }
    }
    @media (prefers-color-scheme: dark) {
        #hero-section canvas {
            opacity: 0.4;
        }
    }
}

.hero- {
    &left {
        @include flex($direction: column, $justify: center);
        flex: 1 1 auto;
        height: auto;   
    }
    &button-inner {
        @include flex($direction: column);
        font-size: 10px;
        line-height: normal;
        margin-left: 8px;
        h5 {
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 8px;
            margin: 0;
        }
    }
    &screenshot {
        -webkit-user-drag: none;
        user-select: none;
        height: 100%;
        width: auto;
        box-shadow: var(--window-elevation);
        background-color: var(--control-color-disabled);
        border: 1px solid var(--surface-stroke-default);
        border-radius: calc(var(--overlay-corner-radius) / 2);
        backdrop-filter: blur(200px) saturate(150%);
    }
}

@media only screen and (max-width: 1068px) {
    :global(#hero-section) {
        @include flex($direction: column);
        height: auto;
        max-height: unset;
    }
    .hero- {
        &left {
            text-align: center;
            align-items: center;
        }
        &screenshot {
            -webkit-user-drag: none;
            user-select: none;
            width: 100%;
            height: auto;
        }
    }
}

:global {
    #design-section {
        @include flex($direction: column, $align: center);
        text-align: center;
        p {
            max-width: 650px;
        }
    }
}

.design-image {
    @include flex($direction: column, $justify: center, $align: center);
    position: relative;
    width: 80vw;
    height: 100%;
    margin-top: 164px;
    text-align: center;
}

.files- {
    &screenshot, &wallpaper {
        -webkit-user-drag: none;
        user-select: none;
        height: auto;
    }
    &screenshot {
        position: absolute;
        top: -36px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 70%;
        max-width: 1024px;
        z-index: 1;
        background-color: var(--layer-color-default);
        border: 1px solid var(--surface-stroke-default);
        border-radius: var(--overlay-corner-radius);
        backdrop-filter: blur(60px) saturate(150%);
        box-shadow: var(--window-elevation);
    }
    &wallpaper {
        position: relative;
        width: 90%;
        max-width: 1440px;
        border-radius: calc(var(--overlay-corner-radius) * 1.5);
        border: 1px solid var(--card-stroke-default);
    }
}

@media only screen and (max-width: 768px) {
    .design-image {
        width: 100%;
    }
    .files- {
        &screenshot {
            width: 90%;
            top: -72px;
            transform: none !important;
            border-radius: calc(var(--overlay-corner-radius) / 2);
        }
        &wallpaper {
            width: 100%;
            border-radius: var(--overlay-corner-radius);
        }
    }
}

:global(#features-section) {
    background-color: var(--subtle-color-tertiary);
}

:global {
    #themes-section {
        @include flex($align: center);
        border-radius: 0 0 12px 12px;
        min-height: 600px;
        background-color: var(--background-base);
        overflow: hidden;
        .component-showcase {
            position: absolute;
            right: -400px;
            transform: rotate(30deg);
        }
    }
}

.themes-section-content {
    width: 45%;
    min-width: 478px;
}

.theme-chooser {
    width: fit-content;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 8px;
}

@media screen and (max-width: 832px) {
    .themes-section-content {
        width: 100%;
        min-width: unset;
    }
}

:global(#community-section) {
    @include flex($justify: center);
    min-height: fit-content;
    overflow: hidden;
}

.community-section- {
    &text {
        text-align: center;
        --background-base: #F3F3F3;
        --text-color-primary: #202020;
        --text-color-secondary: #282828;
        --text-color-tertiary: var(--text-color-secondary);
        --subtle-color-secondary: rgba(0, 0, 0, 0.035);
        --subtle-color-tertiary: rgba(0, 0, 0, 0.024);
        --subtle-color-disabled: rgba(255, 255, 255, 0);
        --accent-text-default: var(--accent-color-dark-3);
        --accent-text-tertiary: var(--accent-color-dark-2);
    }
    &card {
        @include flex($direction: column, $justify: center, $align: center);
        width: 100%;
        min-height: 600px;
        max-width: 2048px;
        padding: 72px 48px;
        position: relative;
        z-index: 0;
        border-radius: var(--overlay-corner-radius);
        background-color: #F9F9F9;
        box-shadow: 0 2.74416px 2.74416px rgb(0 0 0 / 3%),
                    0 5.48831px 5.48831px rgb(0 0 0 / 4%),
                    0 13.7208px 10.9766px rgb(0 0 0 / 5%),
                    0 20.5812px 20.5812px rgb(0 0 0 / 6%),
                    0 41.1623px 41.1623px rgb(0 0 0 / 7%),
                    0 96.0454px 89.1851px rgb(0 0 0 / 9%);
        canvas {
            z-index: -1;
            border-radius: var(--overlay-corner-radius);
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }
}

@media only screen and (max-width: 768px) {
    .community-section-card {
        padding: 24px;
        h2 {
            font-size: 32px;
        }
    }
}

.contributors- {
    &container {
        margin-top: 48px;
    }
    &row {
        @include flex($align: center, $gap: 12px);
        position: relative;
        margin-bottom: 12px;
        &:nth-child(even) {
            left: 24px;
        }
        &:nth-child(odd) {
            left: -24px;
        }
        &:last-child {
            margin: 0;
        }
    }
}