@use "./mixins" as *;

// Sideload Inter and Open Sans as fallback fonts (inter for english, open sans for everything else)
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/Inter-roman.var.woff2") format("woff2");
	font-named-instance: "Regular";
}

@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/Inter-italic.var.woff2") format("woff2");
	font-named-instance: "Italic";
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/OpenSans-roman.var.woff2") format("woff2");
	font-named-instance: "Regular";
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/OpenSans-italic.var.woff2") format("woff2");
	font-named-instance: "Italic";
}

/*
 * Global Variables
 */

:root {
	--fds-font-family-fallback: "Segoe UI", "Inter", "Open Sans", -apple-system,
		ui-sans-serif, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--font-family-sans-serif: var(--fds-font-family-display);
	--font-family-monospace: "Cascadia Code", "Fira Code", "Consolas", monospace;
	overflow-x: hidden;
}

/*
 * Light Theme Colors
 */
@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--mica-tint: 0, 0%, 95%;
		--mica-tint-opacity: 0.8;
	}
}

/*
 * Dark Theme Colors
 */
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		--mica-tint: 0, 0%, 13%;
		--mica-tint-opacity: 0.8;
	}
}

/*
 * Base styles
 */

// Properly size box model
*,
*::before,
*::after {
	box-sizing: border-box;
}

// Focus rings
*:focus-visible:not(.text-box) {
	outline: none !important;
	box-shadow: 0 0 0 2px var(--fds-focus-stroke-outer) !important;
}

// Set font
::-webkit-input-placeholder,
body,
button,
input,
select,
textarea {
	font-family: var(--font-family-sans-serif);
}

// Selection colors
::selection {
	background-color: hsl(var(--fds-accent-dark-1));
	color: white;
}

// Outer elements -- <html> and <body>
html,
body {
	block-size: 100vh;
	block-size: 100dvh;
	margin: 0;
	background-color: var(--fds-solid-background-secondary);
}

// Setting the font-size to 62.5% will
// mean 1rem is equal to 10px assuming
// 100% scaling.
html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
}

// Only render inner <img> elements into the DOM
picture {
	display: contents;
}

// Codeblock syntax highlighting
code {
	@media (prefers-color-scheme: light) {
		@include prism-vs-light;
	}

	@media (prefers-color-scheme: dark) {
		@include prism-vs-dark;
	}
}

// Utility class to create a styled anchor
.hyperlink {
	color: var(--fds-accent-text-primary);
	text-decoration: underline;
	cursor: pointer;
	text-decoration-skip-ink: none;

	&:hover,
	&:active {
		text-decoration: none;
	}

	&:hover {
		color: var(--fds-accent-text-tertiary);
	}

	&:active {
		color: var(--fds-accent-text-secondary);
	}
}
