@use "./mixins" as *;

// Sideload inter as a fallback font
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/static/fonts/Inter-roman.var.woff2") format("woff2");
	font-named-instance: "Regular";
}

@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("/static/fonts/Inter-italic.var.woff2") format("woff2");
	font-named-instance: "Italic";
}

/*
 * Global Variables
 */

:root {
	--font-family-sans-serif: "Segoe UI Variable Display", "Segoe UI", "Inter", sans-serif;
	--font-family-monospace: "Cascadia Code", "Fira Code", "Consolas", monospace;

	// Accent Colors
	--accent-color-hue: 206;
	--accent-color-saturation: 100%;
	--accent-color-lightness: 42%;
	--accent-color-alpha: 1;

	--accent-color: hsl(
		var(--accent-color-hue),
		var(--accent-color-saturation),
		var(--accent-color-lightness),
		var(--accent-color-alpha)
	);

	--accent-color-dark-1: hsl(
		calc(var(--accent-color-hue) + 2),
		var(--accent-color-saturation),
		calc(var(--accent-color-lightness) - 6%),
		var(--accent-color-alpha)
	);

	--accent-color-dark-1-90: hsl(
		calc(var(--accent-color-hue) + 2),
		var(--accent-color-saturation),
		calc(var(--accent-color-lightness) - 6%),
		calc(var(--accent-color-alpha) * 0.9)
	);

	--accent-color-dark-1-80: hsl(
		calc(var(--accent-color-hue) + 2),
		var(--accent-color-saturation),
		calc(var(--accent-color-lightness) - 6%),
		calc(var(--accent-color-alpha) * 0.8)
	);

	--accent-color-dark-2: hsl(
		calc(var(--accent-color-hue) + 8),
		var(--accent-color-saturation),
		calc(var(--accent-color-lightness) - 13%),
		var(--accent-color-alpha)
	);

	--accent-color-dark-3: hsl(
		calc(var(--accent-color-hue) + 18),
		var(--accent-color-saturation),
		calc(var(--accent-color-lightness) - 21%),
		var(--accent-color-alpha)
	);

	--accent-color-light-1: hsl(
		calc(var(--accent-color-hue) - 1),
		var(--accent-color-saturation),
		calc(var(--accent-color-lightness) + 9%),
		var(--accent-color-alpha)
	);

	--accent-color-light-2: hsl(
		calc(var(--accent-color-hue) - 6),
		var(--accent-color-saturation),
		calc(var(--accent-color-lightness) + 23%),
		var(--accent-color-alpha)
	);

	--accent-color-light-2-90: hsl(
		calc(var(--accent-color-hue) - 6),
		var(--accent-color-saturation),
		calc(var(--accent-color-lightness) + 23%),
		calc(var(--accent-color-alpha) * 0.9)
	);

	--accent-color-light-2-80: hsl(
		calc(var(--accent-color-hue) - 6),
		var(--accent-color-saturation),
		calc(var(--accent-color-lightness) + 23%),
		calc(var(--accent-color-alpha) * 0.8)
	);

	--accent-color-light-3: hsl(
		calc(var(--accent-color-hue) - 14),
		var(--accent-color-saturation),
		calc(var(--accent-color-lightness) + 38%),
		var(--accent-color-alpha)
	);

	// Corner Radius
	--control-corner-radius: 4px;
	--overlay-corner-radius: 8px;

	// Control Text
	--control-font-size: 1.4rem;

	// Border Brushes
	--CircleElevationBorderBrush: 0;

	// Control Duration
	--control-normal-duration: 250ms;
}

/*
 * Light Theme Colors
 */

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--text-color-primary: hsl(0, 0%, 0%, 0.894);
		--text-color-secondary: hsl(0, 0%, 0%, 0.62);
		--text-color-tertiary: hsl(0, 0%, 0%, 0.447);
		--text-color-disabled: hsl(0, 0%, 0%, 0.361);
		--text-color-inverse: white;

		--accent-text-disabled: hsl(0, 0%, 0%, 0.361);

		--accent-text-contrast-primary: white;
		--accent-text-contrast-secondary: hsl(0, 0%, 100%, 0.702);
		--accent-text-contrast-selected: white;
		--accent-text-contrast-disabled: white;

		--control-color-default: hsl(0, 0%, 100%, 0.702);
		--control-color-secondary: hsl(0, 0%, 98%, 0.5);
		--control-color-tertiary: hsl(0, 0%, 98%, 0.3);
		--control-color-disabled: hsl(0, 0%, 98%, 0.3);
		--control-color-input-active: white;

		--control-strong-color-default: hsl(0, 0%, 0%, 0.447);
		--control-strong-color-disabled: hsl(0, 0%, 0%, 0.318);

		--control-strong-stroke-default: hsl(0, 0%, 0%, 0.447);
		--control-strong-stroke-disabled: hsl(0, 0%, 0%, 0.216);

		--control-solid-color-default: white;

		--subtle-color-secondary: hsl(0, 0%, 0%, 0.035);
		--subtle-color-tertiary: hsl(0, 0%, 0%, 0.024);
		--subtle-color-disabled: hsl(0, 0%, 100%, 0);

		--control-alt-color-secondary: hsl(0, 0%, 0%, 0.024);
		--control-alt-color-tertiary: hsl(0, 0%, 0%, 0.059);
		--control-alt-color-quarternary: hsl(0, 0%, 0%, 0.094);
		--control-alt-color-disabled: hsl(0, 0%, 100%, 0);

		--control-stroke-default: hsl(0, 0%, 0%, 0.059);
		--control-stroke-secondary: hsl(0, 0%, 0%, 0.161);

		--control-accent-stroke-default: hsl(0, 0%, 100%, 0.078);
		--control-accent-stroke-secondary: hsl(0, 0%, 0%, 0.4);
		--control-accent-stroke-tertiary: hsl(0, 0%, 0%, 0.216);
		--control-accent-stroke-disabled: hsl(0, 0%, 0%, 0.059);

		--card-stroke-default: hsl(0, 0%, 0%, 0.059);
		--card-stroke-solid: hsl(0, 0%, 92%);

		--surface-stroke-default: hsl(0, 0%, 0%, 0.059);
		--surface-stroke-flyout: hsl(0, 0%, 0%, 0.059);
		--surface-stroke-inverse: hsl(0, 0%, 100%, 0.082);

		--divider-color-default: hsl(0, 0%, 0%, 0.059);

		--focus-stroke-outer: hsl(0, 0%, 0%, 0.894);
		--focus-stroke-inner: hsl(0, 0%, 100%, 0.702);

		--card-background-default: hsl(0, 0%, 100%, 0.702);
		--card-background-secondary: hsl(0, 0%, 96%, 0.5);

		--smoke-color-default: hsl(0, 0%, 0%, 0.302);

		--layer-color-default: hsl(0, 0%, 100%, 0.502);
		--layer-color-alt: white;

		--mica-tint: 0, 0%, 95%;
		--mica-tint-opacity: 0.8;

		--background-base: #f2f2f2; // this is only in #-HEX format for the hero section gradient to work
		--background-secondary: hsl(0, 0%, 93%);
		--background-tertiary: hsl(0, 0%, 98%);
		--background-quarternary: white;

		--system-color-success: hsl(120, 78%, 27%);
		--system-color-caution: hsl(36, 100%, 31%);
		--system-color-critical: hsl(5, 75%, 44%);
		--system-color-attention: hsl(209, 100%, 36%);
		--system-color-neutral: hsl(0, 0%, 0%, 0.45);
		--system-background-attention: hsl(0, 0%, 96%, 0.5);
		--system-background-success: hsl(115, 58%, 92%);
		--system-background-caution: hsl(47, 100%, 90%);
		--system-background-critical: hsl(355, 85%, 95%);
		--system-background-neutral: hsl(0, 0%, 0%, 0.02);

		// Elevation
		--card-elevation: 0px 2px 4px hsl(0, 0%, 0%, 0.04);
		--flyout-elevation: 0px 8px 16px hsl(0, 0%, 0%, 0.14);
		--window-elevation: 0px 32px 64px hsl(0, 0%, 0%, 0.1876), 0px 2px 21px hsl(0, 0%, 0%, 0.1474);

		// Accent Colors
		--accent-color-default: var(--accent-color-dark-1);
		--accent-color-secondary: var(--accent-color-dark-1-90);
		--accent-color-tertiary: var(--accent-color-dark-1-80);
		--accent-color-disabled: hsl(0, 0%, 0%, 0.216);

		--accent-text-default: var(--accent-color-dark-2);
		--accent-text-secondary: var(--accent-color-dark-3);
		--accent-text-tertiary: var(--accent-color-dark-1);
	}
}

/*
 * Dark Theme Colors
 */

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		--text-color-primary: white;
		--text-color-secondary: hsl(0, 0%, 100%, 0.773);
		--text-color-tertiary: hsl(0, 0%, 100%, 0.529);
		--text-color-disabled: hsl(0, 0%, 100%, 0.365);
		--text-color-inverse: hsl(0, 0%, 0%, 0.894);

		--accent-text-disabled: hsl(0, 0%, 100%, 0.365);

		--accent-text-contrast-primary: black;
		--accent-text-contrast-secondary: hsl(0, 0%, 0%, 0.502);
		--accent-text-contrast-selected: white;
		--accent-text-contrast-disabled: hsl(0, 0%, 100%, 0.529);

		--control-color-default: hsl(0, 0%, 100%, 0.059);
		--control-color-secondary: hsl(0, 0%, 100%, 0.082);
		--control-color-tertiary: hsl(0, 0%, 100%, 0.031);
		--control-color-disabled: hsl(0, 0%, 100%, 0.043);
		--control-color-input-active: hsl(0, 0%, 12%, 0.702);

		--control-strong-color-default: hsl(0, 0%, 100%, 0.545);
		--control-strong-color-disabled: hsl(0, 0%, 100%, 0.247);

		--control-strong-stroke-default: hsl(0, 0%, 100%, 0.545);
		--control-strong-stroke-disabled: hsl(0, 0%, 100%, 0.157);

		--control-solid-color-default: hsl(0, 0%, 27%);

		--subtle-color-secondary: hsl(0, 0%, 100%, 0.059);
		--subtle-color-tertiary: hsl(0, 0%, 100%, 0.039);
		--subtle-color-disabled: hsl(0, 0%, 100%, 0);

		--control-alt-color-secondary: hsl(0, 0%, 0%, 0.098);
		--control-alt-color-tertiary: hsl(0, 0%, 100%, 0.043);
		--control-alt-color-quarternary: hsl(0, 0%, 100%, 0.071);
		--control-alt-color-disabled: hsl(0, 0%, 100%, 0);

		--control-stroke-default: hsl(0, 0%, 100%, 0.071);
		--control-stroke-secondary: hsl(0, 0%, 100%, 0.094);

		--control-accent-stroke-default: hsl(0, 0%, 100%, 0.078);
		--control-accent-stroke-secondary: hsl(0, 0%, 0%, 0.137);
		--control-accent-stroke-tertiary: hsl(0, 0%, 0%, 0.216);
		--control-accent-stroke-disabled: hsl(0, 0%, 0%, 0.2);

		--card-stroke-default: hsl(0, 0%, 0%, 0.098);
		--card-stroke-solid: hsl(0, 0%, 11%);

		--surface-stroke-default: hsl(0, 0%, 100%, 0.082);
		--surface-stroke-flyout: hsl(0, 0%, 0%, 0.2);
		--surface-stroke-inverse: hsl(0, 0%, 0%, 0.059);

		--divider-color-default: hsl(0, 0%, 100%, 0.082);

		--focus-stroke-outer: white;
		--focus-stroke-inner: hsl(0, 0%, 0%, 0.702);

		--card-background-default: hsl(0, 0%, 100%, 0.051);
		--card-background-secondary: hsl(0, 0%, 100%, 0.031);

		--smoke-color-default: hsl(0, 0%, 0%, 0.302);

		--layer-color-default: hsl(0, 0%, 23%, 0.29);
		--layer-color-alt: hsl(0, 0%, 100%, 0.051);

		--mica-tint: 0, 0%, 13%;
		--mica-tint-opacity: 0.8;

		--background-base: #212121; // this is only in #-HEX format for the hero section gradient to work
		--background-secondary: hsl(0, 0%, 11%);
		--background-tertiary: hsl(0, 0%, 16%);
		--background-quarternary: hsl(0, 0%, 17%);

		--system-color-success: hsl(113, 51%, 58%);
		--system-color-caution: hsl(54, 100%, 49%);
		--system-color-critical: hsl(354, 100%, 80%);
		--system-color-attention: hsl(199, 100%, 69%);
		--system-color-neutral: hsl(0, 0%, 0%, 0.55);
		--system-background-attention: hsl(0, 0%, 0%, 0.03);
		--system-background-success: hsl(67, 39%, 17%);
		--system-background-caution: hsl(40, 46%, 18%);
		--system-background-critical: hsl(2, 28%, 21%);
		--system-background-neutral: hsl(0, 0%, 0%, 0.03);

		// Elevation
		--card-elevation: 0px 2px 4px hsl(0, 0%, 0%, 0.13);
		--flyout-elevation: 0px 8px 16px hsl(0, 0%, 0%, 0.26);
		--window-elevation: 0px 32px 64px hsl(0, 0%, 0%, 0.37), 0px 2px 21px hsl(0, 0%, 0%, 0.37);

		// Accent Colors
		--accent-color-default: var(--accent-color-light-2);
		--accent-color-secondary: var(--accent-color-light-2-90);
		--accent-color-tertiary: var(--accent-color-light-2-80);
		--accent-color-disabled: hsl(0, 0%, 100%, 0.157);

		--accent-text-default: var(--accent-color-light-3);
		--accent-text-secondary: var(--accent-color-light-3);
		--accent-text-tertiary: var(--accent-color-light-2);
	}
}

/*
 * Base styles
 */

// Properly size box model
*,
*::before,
*::after {
	box-sizing: border-box;
}

// Focus rings
*:focus-visible:not(.textbox) {
	outline: none !important;
	box-shadow: 0 0 0 2px var(--focus-stroke-outer) !important;
}

// Set font
::-webkit-input-placeholder,
body,
button,
input,
select,
textarea {
	font-family: var(--font-family-sans-serif);
}

// Selection colors
::selection {
	background-color: var(--accent-color-dark-1);
	color: white;
}

// Outer elements -- <html> and <body>
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: var(--background-secondary);
}

// Setting the font-size to 62.5% will
// mean 1rem is equal to 10px assuming
// 100% scaling.
html {
	font-size: 62.5%;
}

body {
	@include flex($direction: column);
	height: fit-content;
	min-height: 100%;
	font-size: 1.4rem;
}

// Only render inner <img> elements into the DOM
picture {
	display: contents;
}

// Codeblock syntax highlighting
code {
	@media (prefers-color-scheme: light) {
		@include prism-vs-light;
	}
	@media (prefers-color-scheme: dark) {
		@include prism-vs-dark;
	}
}

// Scrollers
// Utility class to create a styled scroller and scrollbar
.scroller {
	overflow: auto;
	@supports (overflow: overlay) {
		overflow: overlay;
	}

	// An attempt at recreating WinUI 2.6 scrollbars
	// (mixed results)
	&::-webkit-scrollbar {
		display: block;
		width: 14px;
		border-radius: 14px;

		// Why does webkit have to be such a pain to work with sometimes?
		// At least it's not firefox.
		&:vertical {
			@media (prefers-color-scheme: light) {
				--scrollbar-caret-top: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.10204 16.9814C5.0281 16.9814 4.45412 15.7165 5.16132 14.9083L10.6831 8.59765C11.3804 7.80083 12.6199 7.80083 13.3172 8.59765L18.839 14.9083C19.5462 15.7165 18.9722 16.9814 17.8983 16.9814H6.10204Z' fill='hsl(0, 0%, 0%, 0.447)'/%3E%3C/svg%3E");
				--scrollbar-caret-bottom: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.10204 8C5.0281 8 4.45412 9.2649 5.16132 10.0731L10.6831 16.3838C11.3804 17.1806 12.6199 17.1806 13.3172 16.3838L18.839 10.0731C19.5462 9.2649 18.9722 8 17.8983 8H6.10204Z' fill='hsl(0, 0%, 0%, 0.447)'/%3E%3C/svg%3E");
			}
			@media (prefers-color-scheme: dark) {
				--scrollbar-caret-top: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.10204 16.9814C5.0281 16.9814 4.45412 15.7165 5.16132 14.9083L10.6831 8.59765C11.3804 7.80083 12.6199 7.80083 13.3172 8.59765L18.839 14.9083C19.5462 15.7165 18.9722 16.9814 17.8983 16.9814H6.10204Z' fill='hsl(0, 0%, 100%, 0.545)'/%3E%3C/svg%3E");
				--scrollbar-caret-bottom: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.10204 8C5.0281 8 4.45412 9.2649 5.16132 10.0731L10.6831 16.3838C11.3804 17.1806 12.6199 17.1806 13.3172 16.3838L18.839 10.0731C19.5462 9.2649 18.9722 8 17.8983 8H6.10204Z' fill='hsl(0, 0%, 100%, 0.545)'/%3E%3C/svg%3E");
			}
		}

		&:horizontal {
			@media (prefers-color-scheme: light) {
				--scrollbar-caret-top: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.8983C9 18.9722 10.2649 19.5462 11.0731 18.839L17.3838 13.3172C18.1806 12.6199 18.1806 11.3804 17.3838 10.6831L11.0731 5.16132C10.2649 4.45412 9 5.02809 9 6.10204V17.8983Z' fill='hsl(0, 0%, 0%, 0.447)'/%3E%3C/svg%3E");
				--scrollbar-caret-bottom: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.8983C15 18.9722 13.7351 19.5462 12.9268 18.839L6.61617 13.3172C5.81935 12.6199 5.81935 11.3804 6.61617 10.6831L12.9268 5.16132C13.7351 4.45412 15 5.02809 15 6.10204L15 17.8983Z' fill='hsl(0, 0%, 100%, 0.545)'/%3E%3C/svg%3E");
			}
			@media (prefers-color-scheme: dark) {
				--scrollbar-caret-top: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.8983C9 18.9722 10.2649 19.5462 11.0731 18.839L17.3838 13.3172C18.1806 12.6199 18.1806 11.3804 17.3838 10.6831L11.0731 5.16132C10.2649 4.45412 9 5.02809 9 6.10204V17.8983Z' fill='hsl(0, 0%, 0%, 0.447)'/%3E%3C/svg%3E");
				--scrollbar-caret-bottom: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.8983C15 18.9722 13.7351 19.5462 12.9268 18.839L6.61617 13.3172C5.81935 12.6199 5.81935 11.3804 6.61617 10.6831L12.9268 5.16132C13.7351 4.45412 15 5.02809 15 6.10204L15 17.8983Z' fill='hsl(0, 0%, 100%, 0.545)'/%3E%3C/svg%3E");
			}
		}

		&:hover {
			background: var(--scrollbar-caret-bottom) bottom center/contain no-repeat,
			var(--scrollbar-caret-top) top center/contain no-repeat,
			hsl(var(--mica-tint), var(--mica-tint-opacity));
		}

		&-thumb {
			border: 6px solid transparent;
			border-block: none;
			border-radius: 14px;
			background: var(--control-strong-color-default);
			background-clip: padding-box;

			&:hover {
				border: 4px solid transparent;
			}
		}

		&-button:single-button {
			display: block;
			height: 14px;
		}
	}
}

// Utility class to create a styled anchor
.hyperlink {
	color: var(--accent-text-default);
	text-decoration: underline;
	cursor: pointer;
	text-decoration-skip-ink: none;

	&:hover,
	&:active {
		text-decoration: none;
	}

	&:hover {
		color: var(--accent-text-tertiary);
	}

	&:active {
		color: var(--accent-text-secondary);
	}
}