@use "src/styles/mixins" as *;

// Tags showcase
.tags-showcase {
	@include flex(
		$direction: column,
		$justify: center,
		$align: center,
		$gap: 1rem
	);
	position: relative;
	transition: height 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

	.showcase-panel {
		animation: feature-panel 500ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards
			400ms;

		&:first-child {
			@include flex($direction: column, $justify: center, $align: center);
		}
	}

	.files-table {
		tr {
			&.tag-selected {
				&::after {
					background-color: var(--fds-accent-default);
				}

				td {
					color: var(--fds-text-on-accent-primary);

					&.tag-cell :global(.fluent-icon circle) {
						stroke: var(--fds-control-stroke-on-accent-default);
					}
				}
			}
		}
	}

	.tag-cell-inner {
		@include flex($align: center, $gap: 6px);
	}

	.tags-picker {
		@include flex($justify: center, $gap: 16px);
		z-index: 1;
		padding: 1rem;
		animation-delay: 600ms;
		box-shadow: var(--fds-inactive-window-shadow);

		:global(.color-swatch) {
			animation: var(--fds-control-normal-duration) ease feature-item-scale
				backwards calc(800ms + (100ms * var(--color-index)));
		}
	}
}
