@use "src/styles/mixins" as *;

// Outer section
:global {
	#features-section {
		background-color: var(--fds-solid-background-base);

		// Inner section
		.page-section-inner {
			display: grid;
			grid-template-columns: calc(25%% - 24px) calc(25% - 24px) calc(25% - 24px) calc(25% - 24px);
			grid-gap: 48px;
		}
	}

	// Features section container
	.features-section- {
		// Left container
		&left {
			@include flex($align: center, $justify: center);
			position: relative;
		}
	}
}

// <FeatureCard /> container
// Container element for selecting features to preview
.feature-cards-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 8px;

	// Small device support
	@media screen and (width < 1164px) {
		// Stack cards vertically
		grid-template-columns: auto;
	}
}

// Features section small device support
@media screen and (width < 924px) {
	:global(#features-section .page-section-inner) {
		grid-template-columns: auto;
	}

	.features-section- {
		// Hide showcases on mobile
		&left {
			display: none;
		}
	}

	// HACK: Remove selected card styling on mobile
	// Figured this was both easier and faster than dealing with bind:innerWidth
	.feature-cards-container :global(.feature-card.selected) {
		border-color: transparent;
	}
}
