@use "src/styles/mixins" as *;

.navbar,
.inner,
.item {
	@include flex($align: center);
}

.navbar {
	position: sticky;
	inset-block-start: 0;
	z-index: 10;
	justify-content: space-between;
	flex: 0 0 auto;
	block-size: 58px;
	padding: 12px 18px;
	background-color: hsl(var(--mica-tint), var(--mica-tint-opacity));
	backdrop-filter: blur(20px) saturate(150%);
	user-select: none;
	view-transition-name: navbar;
}

.item {
	justify-content: center;
	margin: 0 4px;
	padding: 5px 11px 6px 11px;
	border-radius: var(--fds-control-corner-radius);
	color: var(--fds-text-secondary);

	font: {
		size: 1.36rem;
		weight: normal;
	}

	text-decoration: none;
	transition: var(--fds-control-faster-duration) linear background-color;

	&.selected {
		background-color: var(--fds-subtle-fill-secondary);
		color: var(--fds-accent-text-primary);
	}

	&:hover {
		background-color: var(--fds-subtle-fill-secondary);
	}

	&:active {
		background-color: var(--fds-subtle-fill-tertiary);
	}

	:global(.fluent-icon) {
		@include icon($size: 16px);
		margin-inline-end: 4px;
	}
}

.divider {
	block-size: 30px;
	margin: 0 8px;
	border-inline-start: 1px solid var(--fds-subtle-fill-secondary);
}

.logo {
	@include flex($align: center);
	margin-inline-end: 8px;
	color: var(--fds-text-primary);

	font: {
		size: 2rem;
		weight: 600;
	}

	text-decoration: none;
	transition: 100ms ease;

	&:hover {
		color: var(--fds-text-secondary);
	}

	img {
		inline-size: auto;
		block-size: 32px;
		margin-inline-end: 12px;
	}
}


.buttons {
	z-index: 1;
	display: flex;
}

.button {
	@include flex($align: center, $justify: center);
	inline-size: 34px;
	block-size: 34px;
	margin-inline-start: 8px;
	border: none;
	border-radius: var(--fds-control-corner-radius);
	background-color: transparent;
	color: var(--fds-text-secondary);
	text-decoration: none;
	cursor: pointer;

	&:hover {
		background-color: var(--fds-subtle-fill-secondary);
	}

	&:active {
		background-color: var(--fds-subtle-fill-tertiary);
	}

	:global(.fluent-icon) {
		transition: 130ms cubic-bezier(0.16, 0.16, 0, 1) transform;
		@include icon($size: 18px);
	}
}

:global {
	.navbar .button.sidebar-button {
		inline-size: 38px;

		&:active .fluent-icon {
			transform: scaleX(0.65);
		}

		.fluent-icon {
			inline-size: 16px;
		}
	}
}

.sidebar {
	position: fixed;
	inset-block-start: 0;
	inset-inline-end: 0;
	display: none;
	inline-size: 272px;
	block-size: 100vh;
	padding-block-start: 62px;
	border: 1px solid var(--fds-surface-stroke-default);
	border-radius: var(--fds-overlay-corner-radius);
	background-color: var(--fds-solid-background-base);
	transform: translateX(100%);
	transition: 120ms cubic-bezier(0.1, 0.9, 0.2, 1);

	&.visible {
		transform: none;
		transition-duration: 350ms;
	}

	hr {
		margin: 4px 0;
		border: none;
		border-block-start: 1px solid var(--fds-divider-stroke-default);
	}
}

@media screen and (width < 648px) {
	.navbar {
		position: fixed;
		inset-block-start: 0;
		inset-inline-start: 0;
		inline-size: 100%;
		block-size: 64px;
		overflow: visible;
	}

	.sidebar {
		display: block;
	}

	:global(body) {
		padding-block-start: 62px;
	}
}
