// Cloud integration showcase
.cloud-files-showcase {
	inline-size: 416px;
	max-inline-size: 100%;
	animation: feature-panel 500ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards 400ms;

	// Cloud provider icons
	.cloud-provider {
		position: absolute;
		z-index: 2;
		inline-size: 108px;
		block-size: auto;
		transform: rotate(var(--provider-rotate));
		filter: drop-shadow(0 4px 12px hsl(0, 0%, 0%, 0.25));

		&:nth-child(1) {
			inset-block-end: 36px;
			inset-inline-start: -54px;
			animation: cloud-provider var(--fds-control-normal-duration) cubic-bezier(0.165, 0.84, 0.44, 1) backwards 800ms,
			cloud-provider-float 10s ease infinite 1000ms;
			--provider-rotate: 5deg;
		}

		&:nth-child(2) {
			inset-block-start: 12px;
			inset-inline-end: -54px;
			inline-size: 128px;
			animation: cloud-provider var(--fds-control-normal-duration) cubic-bezier(0.165, 0.84, 0.44, 1) backwards 1000ms,
			cloud-provider-float 10s ease infinite 1400ms;
			--provider-rotate: -8deg;
		}
	}

	.files-table tr td {
		// Sync status icons
		&.status-success :global(svg) {
			color: var(--fds-system-success);
		}

		&.status-sync :global(svg) {
			color: var(--fds-system-attention);
		}
	}
}

// Cloud icon entrance animation
@keyframes cloud-provider {
	from {
		opacity: 0;
		transform: rotate(var(--provider-rotate)) scale(0.5);
	}
}

// Cloud icon float animation
@keyframes cloud-provider-float {
	0% {
		transform: rotate(var(--provider-rotate)) translateY(0);
	}
	50% {
		transform: rotate(calc(var(--provider-rotate) * -1)) translateY(-10px);
	}
	to {
		transform: rotate(var(--provider-rotate)) translateY(0);
	}
}